node_modules/
.next/
dist/
.turbo/
out/
*.tsbuildinfo

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
prisma/*.db
